.part2wrapper {
    padding: 50px;
    background-color: rgba(40, 44, 52, 0.8);
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
}

.timer {
    padding: 40px;
    padding-top: 0;
    color: white;
}

.bottomLabel {
    font-size: 18px;
}

.aboutMe {
    font-size: 12px;
    padding-top: 30px;
    color: #f8ecd9;
}

a {
    color: #82a7c1;
}

@media screen and (min-width: 601px) {
    .timer {
        font-size: 77px;
    }
}

@media screen and (max-width: 600px) {
    .timer {
        font-size: 49px;
    }
}
